<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<staticContent>
	  <remove fileExtension=".dll" />
	  <remove fileExtension=".wasm" />
	  <remove fileExtension=".woff" />
	  <remove fileExtension=".woff2" />
	  <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
	  <mimeMap fileExtension=".clr" mimeType="application/octet-stream" />
	  <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
	  <mimeMap fileExtension=".pdb" mimeType="application/octet-stream" />
	  <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	  <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
	</staticContent>
  </system.webServer>
</configuration>
