name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
      - release/*

jobs:
  build_and_deploy_job:
    env:
      DIST_PATH: src/Uno.Wasm.Sample.RayTracer/bin/Release/net6.0/publish/wwwroot

    if: (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    container: 'unoplatform/wasm-build:3.0'
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required for gitversion
          submodules: true
          
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: '5.x'
          
      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7
        with:
          useConfigFile: true
          configFilePath: gitversion.yml
          
      - run: |
          wget https://dot.net/v1/dotnet-install.sh
          chmod +x dotnet-install.sh
          ./dotnet-install.sh -c 9.0 -q daily
          echo ~/.dotnet >> $GITHUB_PATH

        name: Setup .NET
          
      - run: |
          cd src
          dotnet workload install wasm-tools

        name: Setup Workloads

      #- name: Setup .NET
      #  uses: actions/setup-dotnet@v1.7.2
      #  with:
      #    dotnet-version: '9.0.100-rc.2.24430.10'
      #    dotnet-quality: 'daily'
      #    include-prerelease: true
    
      - run: |
          dotnet build -c Release src/Uno.Wasm.Bootstrap/Uno.Wasm.Bootstrap.csproj /bl:./artifacts-logs/build.binlog
        name: Build Bootstrap
    
      - run: |
          dotnet publish -c Release src/Uno.Wasm.Sample.RayTracer/Uno.Wasm.Sample.RayTracer.csproj /bl:./artifacts-logs/build-sample.binlog
        name: Build WebAssembly app

      - uses: actions/upload-artifact@v4
        with:
          name: wasm-site
          path: ${{ env.DIST_PATH }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: logs
          path: artifacts-logs

      - name: Publish to Azure Static WebApps
        if: ${{ github.ref != 'refs/heads/release/prod' }}
        id: builddeploy_uno
        uses: Azure/static-web-apps-deploy@v0.0.1-preview
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "${{ env.DIST_PATH }}" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v0.0.1-preview
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "close"
